* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Acme, Arial, sans-serif;
}

h1 {
	font-size: 1.5rem;
}

main {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	background-color: #ddd;
	display: flex;
	flex-direction: column;
    border-radius: 10px;
}
li button {
    font-size: 12px;
    margin-left: 20px;
    color: black;
    border-radius: 10px;
    background-color: yellow;
}
.listbutton{
    font-size: 12px;
    color:yellow;
    border-radius: 10px;
}
input,
button {
	padding: 0.5rem;
}

button {
	margin: 0.5rem;
}

.delete {
	width: fit-content;
}

.input {
	display: flex;
	gap: 1rem;
    background-color: cyan;
}

.list {
	padding: 0.5rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
    margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer {
    text-align: center;
    padding: 5px;
    color: #030000;
    border-radius: 10px;
  }
  footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  footer ul li {
    display: flex;
    margin: 0 0.5rem;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  footer ul li a:hover {
    color: #000000;
    background-color: #f2f840d8;
    border-radius: 20px;
  }
  #lastModified {
      text-align: center;
      font-size: 0.95rem;
    -webkit-text-fill-color: #000000;
  }
@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 320px;
	}
}